---
layout: page.njk
title: Audition Materials
permalink: /audition-materials/
---
<p class="page__lede">Baroque Aria and Accompagnato</p>
<div class="embed-grid">
  <iframe width="854" height="480" src="https://www.youtube.com/embed/0VwuLvrBRaY?start=23" title="Baroque aria audition recording" frameborder="0" allow="autoplay; fullscreen; encrypted-media; picture-in-picture" allowfullscreen loading="lazy"></iframe>
  <iframe width="854" height="480" src="https://www.youtube.com/embed/z-O4KVBLq7Q?start=15" title="Accompagnato audition recording" frameborder="0" allow="autoplay; fullscreen; encrypted-media; picture-in-picture" allowfullscreen loading="lazy"></iframe>
</div>
