---
layout: page.njk
title: Listen
permalink: /listen/
---
<p class="page__lede">Assorted Performance Recordings</p>
<div class="embed-grid">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0KNP0igXwi62Q7EVHLtNl4?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen loading="lazy" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6HgiqnRMfojzxb80ub5BjD?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen loading="lazy" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/2HJwkxsI4KZCLY3Uszxkp6?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen loading="lazy" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3b9PmrNvz6HlLzBRtbhqAk?utm_source=generator" width="100%" height="380" frameborder="0" allowfullscreen loading="lazy" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
